<html lang="en">
<head>
    <title>{{name}} CHAT</title>
</head>
<body>
    
{% block navBar %}
<span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    <p>Base Template, NavBar</p>
{% endblock %}

{%block roominfo%}
    <div>
        {% block roomtitle %}
        <h1>Room name: {{name}}</h1>
        {% endblock %}
    </div>
    
    <p>description: {{description}}</p>
    <p>Room ceated at: {{date}}</p> 
{% endblock %}



</body>
</html>