<title>Register User Page</title>

<body>
    <section class="container">
        <div class="register">
            <h1>register new user</h1>
            <div class="error" style="color:red;">
                {% if form.errors %}
                <p> Fail to register, try agian!</p>
            </div>
            
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="register" >
            </form>
        </div>
</body>